// Important paths:
params.data_folder = '/mnt/s3_cg-rd/output/'  // location of the sequenced runs
// FASTQ: By default uses the data_folder and the run id, but you can also specify the fastq_path and pattern directly:
params.run_path = "${params.data_folder}/${params.run_id}"
params.bam_files = "${params.run_path}/*/*.primers.hardclipped.bam"
params.bai_files = "${params.run_path}/*/*.primers.hardclipped.bam.bai"

// Reference files:
params.reference_genome = '/data/pfeijao/ref/hg19.fa' // reference genome to map reads.
params.manifest_file = '/data/pfeijao/CNV/nextflow/manifests/CG001v5.1_Amplicon_Manifest_Panel5.1.0_9_20200727.tsv'
params.exome_bed = "/data/pfeijao/CNV/nextflow/manifests/exons.hg19.bed" // bed file with hg19 exon annotations.


// output folders:
params.output_dir = "/data/pfeijao/CNV/nextflow/output/" // default output folder with results
// run id is added to output
base_output_dir = "${params.output_dir}/${params.run_id}"
cnv_calls_dir = "${base_output_dir}/cnv_calls"
bam_files_dir = "${base_output_dir}/bam_files" // stores the mapped .bam files
working_dir = "${base_output_dir}/work_dir" // folder for temp files.
// QC
fastqc_dir = "${base_output_dir}/QC/fastqc" // folder for fastQC outputs
multiqc_dir = "${base_output_dir}/QC/multiqc" // folder for multiQC outputs

/*
Add parameters to specific processes used in the workflow.
Useful to add "publishDir" with mode = 'copy' to copy output files to specific paths.
*/
process {
    withName: merge_overlapping_amplicons {
        publishDir {
            path = working_dir; mode = 'copy'
        }
    }
    withName: get_read_depth_per_amplicon {
        publishDir {
            path = working_dir; mode = 'copy'
        }
    }
    withName: map_reads {
        publishDir {
            path = bam_files_dir; mode = 'copy'
        }
    }
    withName: aggregate_cnv_calls {
        publishDir {
            path = cnv_calls_dir; mode = 'copy'
        }
    }
    withName: depth_to_covcopcan_matrix {
        publishDir {
            path = working_dir; mode = 'copy'
        }
    }
    withName: manifest_to_covcopcan_design {
        publishDir {
            path = working_dir; mode = 'copy'
        }
    }

}
